.navigation{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.main-nav{
    display:flex;
    justify-content: space-between;
    word-spacing: 10px;
    padding: 2rem;

}
.main-nav div{
    margin: 0 10px;
}

.logo {
    width: 23%;
    padding: 1%;
    justify-content: left;
}

.heroCopy {
    display:flex;
    flex-direction: column;
    max-width: 100%;
    padding: 250px;
    justify-content: center;
    align-items: center;

}
.heroSection {
    display: flex;
    align-items: center;
}

.featuredProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.footer {
    background-image: url("../Images/footer_bg.png");
    padding: 25px;
    background-size: cover;

}